body{
    margin: 0;
    background: #f5f4f4;
    font-family: sistem-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;
}